body{
    background-color: blanchedalmond;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;

}
header{
    background-color:black;
    padding: 0;
    margin:0;

}
div{
    background-color:aqua;
    margin: auto;
    width: 100px;

}
ul{
    margin: 0;
    padding: 0;

}
li{
    color: red;
    display: inline;
    margin-right: 20px;

}
footer{
    background-color: yellow;
    color:black;
}